.DS_Store
node_modules
bower_components
.l10ns
.components.js
.components.bundle.js
.components.bundle.js.map
.everc
style.css
style.css.map
bundle.js
bundle.js.map
commons.bundle.js
commons.bundle.js.map
npm-debug.log
config-test.json
config.json
localizations/output
!build/assets/fonts/u2-click-and-collect/style.css
__app_ios
__app_android
app_android/platforms/android/app/arm64/release/app.aab
app_android/platforms/android/app/armeabi/release/app.aab
app_android/platforms/android/app/armv7/release/app.aab
app_android/platforms/android/app/x86/release/app.aab
app_android/platforms/android/app/x86_64/release/app.aab
